@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
.search-btn {
  background: linear-gradient(
    119.78deg,
    #ff5757 14.24%,
    rgba(255, 87, 87, 0) 134.54%
  );
}
.new-booking-btn {
  background: linear-gradient(178.41deg, #fb8085 1.35%, #ff5757 139.03%);
}

.sidebar {
  background: linear-gradient(
    180deg,
    #eb6b9d 0%,
    rgba(255, 87, 87, 0.7) 138.64%
  );
}

.b-2 {
  display: flex;
  width: 12.63px;
  height: 12.63px;
  left: 229.04px;
  top: 144.63px;

  background: linear-gradient(180deg, #fc8f8f 0%, #ff5757 100%);
  border-radius: 20px;
}
.b-3 {

  display: flex;
  width: 11.73px;
  height: 11.73px;
  left: 229.04px;
  top: 173.5px;
  
  border: 1px solid #FF5757;
  border-radius: 20px; 
}

body{
  background-color: #fbfbfb;
}
